doctype html
html
    head
        title MyStores
        link(rel='manifest', href="/manifest.json")
        meta(name="mobile-web-app-capable",content="yes")
        meta(name='viewport', content='width=device-width', initial-scale=1, maximum-scale=1, user-scalable='no')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/store.css')
        block head
    body
        div.
            <canvas id="canvas" style="position:absolute; z-index:1; left:0px; top:0px" height="0px" width="0px"></canvas>
            <div style="display:none;">
                <img id="source" src="https://mdn.mozillademos.org/files/5397/rhino.jpg" width="300" height="227">
            </div>
        .container-fluid.no-padding
            div#menu-scroll
            div#msg= msg
            div#channel.
            div.row
                div.col-xs-12.myContainer
                    div.yAd
                        <iframe id="myAd" width="360" height="210" src="https://www.youtube.com/embed/8NOEpJGAUZk?rel=0&&autoplay=1&loop=1&amp;controls=0&amp;showinfo=0&playlist=8NOEpJGAUZk" frameborder="0" allowfullscreen" frameborder="0" allowfullscreen></iframe>
                    div#dd.pull-right
                        marquee#type.adText
                    
        script(src='/javascripts/jquery-2.2.0.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/store.js')
