doctype html
html
	head
		//- To ensure proper rendering 
		meta(name='viewport', content='width=device-width, initial-scale=1') 
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		title MyStores
		block head
	body
		.container-fluid
			block body
			//- Only for Bootstrap and not included any client side script using jQuery. 
			script(src='/javascripts/jquery-2.2.0.min.js')
			script(src='/javascripts/bootstrap.min.js')
			