extends layout
block body
    html.
        <body>
        <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12">
            <div class="btn-primary"><h3>Welcome to My Store</div>
            <div class="text-center" style="padding-top:5%">
            <h1></h1><h1></h1>
            <h4>#{msg}</h4>
            </div>
        </div>
        </div>
        </div>
    </body>