extends layout
block body
    html.
        <body>
        <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12">
            <div class="btn-primary"><h3>Welcome to My Store</div>
            <div class="text-center" style="padding-top:5%">
            <h1></h1><h1></h1>
            <form method="post" action="/save" class="form-inline">
                <p>
                    <label>Message:</label>
                    <textarea class="form-control" rows="3" name="msg" style="width:100%">#{msg.msg}</textarea>
                </p>
                <p>
                    <label>Text Color:</label>
                     <input type='color' name='textColor' class="color" value='#{msg.textColor}' />
                </p>
                <p>
                    <label>Background:</label>
                    <input type='color' name='bgColor' class="color" value='#{msg.bgColor}' />
                </p>
                <p>
                     <input type="submit" class="btn btn-primary" value="Save">
                </p>
            </form>
            </div>
        </div>
        </div>
        </div>
    </body>