html,
body {
    //background: url('/images/menu1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}

#type {
    font-size: 138px;
    color: red;
    position: absolute;
    font-weight: bold;
    margin: auto;
    width: 100%;
    bottom: 1px;
}

#menu-scroll {
    width: 100%;
    background: url('/images/menu1.jpg') repeat-y;
    -webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 50s linear infinite;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -1000px;
    }
}

#weather {
    position: absolute;
    bottom: 32px;
}

.no-padding {
    padding: 0;
}

#msg {
    display: none;
}

#channel {
    position: absolute;
    float: left;
    z-index: 100;
    top: 0;
    right: 0;
}

#playerContainer {
    z-index: 300;
}