html,
body {
    //background: url('/images/menu1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}

#type {
    font-size: 130px;
    color: red;
    /*    position: absolute;*/
    font-weight: bold;
    margin: auto;
    /*    width: 100%;*/
    bottom: 1px;
}

#menu-scroll {
    width: 100%;
    background: url('/images/menu1.jpg') repeat-y;
    -webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 50s linear infinite;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -1000px;
    }
}

#weather {
    position: absolute;
    bottom: 32px;
}

.no-padding {
    padding: 0;
}

#msg {
    display: none;
}

#channel {
    position: absolute;
    float: left;
    z-index: 100;
    top: 0;
    right: 0;
}

#playerContainer {
    z-index: 300;
}

#myAd {
    float: left;
}

body {
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    background: #abdc28;
    transition: all .8s ease-in-out;
}

.adText {
    /*    width: 100%;*/
    font-size: 100px;
    margin: 125px auto;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #777, 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px 11px 9px rgba(100, 100, 100, 0.2), 0px 12px 11px rgba(100, 100, 100, 0.25), 0px 13px 15px rgba(100, 100, 100, 0.3);
    transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
}